{% extends 'layouts/master.html' %} {% block contain %}

<div class="container">
	<div class="row portfolio-item">
		<div class="col-lg-12">

			<div class="card" id="first">
				<div class="card-header">
					<h3 class="text-danger">Precautions
					</h3>
				</div>
				<div class="card-body">
					<h5>
<pre>
1. Please use the GIFT format test questions exported by Moodle.
2. Please pay attention to the file type when uploading files. This system is limited to txt format.
3. Please note: For picture questions, you need to export pictures and import them on the OpenEdu platform.
4. GIFT conversion question types are currently available: multiple choice questions, multiple choice questions, short answer questions, true-false questions.
</pre>
					</h5>
				</div>

			</div>

		</div>
	</div>
	<div class="card" id="first">
		<div class="card-header">
			<h3 class="text-success">Upload GIFT questions
			</h3>
		</div>
		<div class="card-body">
				
				{% if blank %}
				<div class="alert alert-danger" role="alert">
					The uploaded file is blank or does not meet the format
				</div>
				{% endif %}
			{% if output %}
			<div class="alert alert-success" role="alert">
				Successfully converted
			</div>
			{% endif %}
			<form method="POST" enctype="multipart/form-data" action="/">

				{% if form.text.errors %}
				{% for error in form.text.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
				{% endfor %}
				{% endif %}
				{{ form.hidden_tag() }}

				<div class="form-group">
					<input type="file" class="form-control" required id="text" name="text">
				</div>
				<div class="text-center">
					<input type="submit" id='submit' class="btn btn-default" name="submit" value="Convert">
				</div>
			</form>
		</div>
	</div>

	<div class="row portfolio-item">
		<div class="col-lg-6">
			{% if output %}
			<a href="{{ url_for('downloadFile') }}" class="btn btn-info">Download the converted complete edX question (format XML)</a>
			{% endif %} {% if arr %}
			<a href="#arr" class="btn btn-dark">Click me to see the problem of format discrepancy</a>
			{% endif %}
		</div>
	</div>

	<div class="row portfolio-item">
		<div class="col-lg-12 mb-12 ">

			<div id="accordionedxall">
				{% if totalStr %}
				<div class="card">
					<div class="card-header">
						<a class="card-link text-info" data-toggle="collapse" href=#collapseedxall>
							#edX complete question
						</a>
					</div>
					<div class="collapse" data-parent="#accordionedxall" id=collapseedxall>
						<div class="card-body">

							<textarea id=edxall class="card-text">{{totalStr}}</textarea>
						</div>
						<div class="card-footer">
							<button data-clipboard-target=#edxall class="btn btn-outline-info">Copy title</button>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row portfolio-item">

		<div class="col-lg-6 mb-12 ">
			<div id="accordionedx">
				{% if edx2 %}<h4>Single question display in edX format</h4>{% for question in edx2 %}

				<div class="card">
					<div class="card-header">
						<a class="card-link text-info" data-toggle="collapse" href=#collapseedx{{loop.index}}>
							#edX format title{{loop.index}}
						</a>
					</div>
					<div class="collapse" data-parent="#accordionedx" id=collapseedx{{loop.index}}>
						<div class="card-body">
							<pre id=edx{{loop.index}} class="card-text">{{p}}
{% for ans in question %}{{ans}}
{% endfor %}{{p2}}</pre>
						</div>
						<div class="card-footer">
							<button data-clipboard-target=#edx{{loop.index}} class="btn btn-outline-info">Copy title{{loop.index}}</button>
						</div>
					</div>
				</div>
				{% endfor %} {% endif %}
			</div>
		</div>


		<div class="col-lg-6 mb-12 ">
			<div id="accordionmoodle">

				{% if moodle %}<h4>GIFT format single question display</h4>{% for question in moodle %}

				<div class="card">
					<div class="card-header">
						<a class="card-link text-info" data-toggle="collapse" href=#collapsemoodle{{loop.index}}>
							#GIFT format questions{{loop.index}}
						</a>
					</div>
					<div class="collapse" data-parent="#accordionmoodle" id=collapsemoodle{{loop.index}}>
						<div class="card-body">
							<pre id=moodle{{loop.index}} class="card-text">
{% for ans in question %}{{ans}}
{% endfor %}</pre>
						</div>
						<div class="card-footer">
							<button data-clipboard-target=#moodle{{loop.index}} class="btn btn-outline-info">Copy title{{loop.index}}</button>
						</div>
					</div>
				</div>
				{% endfor %} {% endif %}
			</div>

		</div>
	</div>
	<div class="row portfolio-item">
		<div class="col-lg-12 mb-12 ">
			{% if arr %}
			<div class="card" id="arr">
				<div class="card-header">
					<h3 class="text-danger">Questions with inconsistent format
						<button data-clipboard-target=#arrcopy class="btn btn-outline-danger">Copy title</button>
						<a href="#top"><button class="btn btn-outline-dark">Return to the upper level</button></a>
					</h3>
				</div>
				<div class="card-body">
					<pre id=arrcopy class="card-text">
{% for question in arr %}{{question}}{% endfor %}</pre>
				</div>

			</div>
			{% endif %}
		</div>
	</div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script>
	var clipboard = new ClipboardJS('button');
</script> {% endblock %}